

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #F8F9FA;
}

.BMIbox{
    height: 650px;
    width: 900px;
    margin: 30px;
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: slategrey;
    position: relative;
}
.box-container{
    background-color: #DEE2E6;
    margin-top: 20px;
}
h1{
    margin: 50px;
    color: #212529;
}
form {
    width: 300px;
    height: 400px;
    margin: 50px auto;
    padding: 20px;
    color: #212529;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

button[type="button"] {
    width: 90%;
    height: 40px;
    background-color: #333399;
    color: #fff;
    padding: 10px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
    margin-right: 20px;
}

button[type="button"]:hover {
    background-color: #6666cc;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #666;
}
.sun-img{
    height: 55px;
    margin-top: 20px;
}
.moon-img{
    height: 45px;
    margin: 10px;
    margin-top: 23px;
}
.theme-selector-container{
    display: flex;
    position:fixed;
    top: 20px;
    right: 350px;
}